@page "/subject/assignment-management/{SubjectId:int}/submits"

@namespace Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.MentorPages
@attribute [Authorize]

<h3>SubjectAssignmentSubmitJounalPage (double click works fine!)</h3>

@if (_subjectAssignmentSubmits is not null)
{
    <div>
    <MudTable
        Items="@_subjectAssignmentSubmits"
        class="dark-elevation-01">
            <HeaderContent>
                <MudTh>Assignment</MudTh>
                <MudTh>Student</MudTh>
                <MudTh>Submit time</MudTh>
                <MudTh>State</MudTh>
                <MudTh>Approve time</MudTh>
                <MudTh>Reject time</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd >@context.SubjectAssignmentTitle</MudTd>
                <MudTd >@context.Student.GetFullName()</MudTd >
                <MudTd>@context.SubmitTimeUtc</MudTd>
                <td>@context.State</td>
                <td>@context.ApproveTimeUtc</td>
                <td>@context.RejectTimeUtc</td>
            </RowTemplate>
        </MudTable>
    </div>
}

@code {
    [Parameter]
    public int SubjectId { get; set; }

    private void OnRowClicked(TableRowClickEventArgs<SubjectAssignmentSubmitDto> obj)
    {
        throw new NotImplementedException();
    }

}