@page "/subject/assignment-management/{SubjectId:int}/submits"

@namespace Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.MentorPages
@attribute [Authorize]

<h3>SubjectAssignmentSubmitJounalPage (double click works fine!)</h3>

@if (_subjectAssignmentSubmits is not null)
{
    <div>
    <MudTable
        T="SubjectAssignmentSubmitDto"
        Items="@_subjectAssignmentSubmits"
        OnRowClick="@(arg => OnRowClicked(arg))"
        class="dark-elevation-01">
            <HeaderContent>
                <MudTh>Assignment</MudTh>
                <MudTh>Student</MudTh>
                <MudTh>Submit time</MudTh>
                <MudTh>State</MudTh>
                <MudTh>Approve time</MudTh>
                <MudTh>Reject time</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.SubjectAssignmentTitle</MudTd>
                <MudTd>@context.Student.GetFullName()</MudTd >
                <MudTd>@context.SubmitTimeUtc</MudTd>
                <MudTd>@context.State</MudTd>
                <MudTd>@context.ApproveTimeUtc</MudTd>
                <MudTd>@context.RejectTimeUtc</MudTd>
            </RowTemplate>
        </MudTable>
    </div>
}

@code {
    [Parameter]
    public int SubjectId { get; set; }

    private void OnRowClicked(TableRowClickEventArgs<SubjectAssignmentSubmitDto> obj)
    {
        _navigationManager.NavigateTo($"/subject/{SubjectId}/management/assignments/submits/{obj.Item.Id}");
    }
}