@page "/subject/{SubjectId:int}/management/assignments/submits/{SubmitId:int}"

@namespace Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.MentorPages
@attribute [Authorize]

<h3>SubjectAssignmentSubmitPage</h3>

@if (_submit is not null)
{
    <div class="d-flex flex-column">
        <span>
            Assignment: @_submit.SubjectAssignmentTitle
        </span>
        
        <span>
            Student: @_submit.Student.GetFullName()
        </span>
        
        <span>
            Description: @_submit.StudentDescription
        </span>
        
        <span>
            Submit time: @_submit.SubmitTimeUtc
        </span>
        
        @switch (_submit.State)
        {
            case SubmitState.Created:
                break;
            case SubmitState.Approved:
                <MudText Typo="Typo.body2">
                    Approved (@_submit.ApproveTimeUtc)
                </MudText>
                <MudText Typo="Typo.body2">
                    Comment: (@_submit.Comment)
                </MudText>
                break;
            case SubmitState.Rejected:
                <MudText Typo="Typo.body2">
                    Rejected (@_submit.RejectTimeUtc)
                </MudText>
                <MudText Typo="Typo.body2">
                    Comment: (@_submit.Comment)
                </MudText>
                break;
            default:
                throw new ArgumentOutOfRangeException(nameof(SubmitState), "Unsupported assignment state");
        }
        
        <div>
            
            <EditForm Model="_arguments">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <RenderFormElements></RenderFormElements>
                <MudButton class="dark-elevation-04" type="submit" OnClick="@(async () => await Create())">Send feedback</MudButton>
            </EditForm> 
        </div>
        <div class="container-fluid d-flex flex-row"></div>
    </div>
}

@code {
    [Parameter]
    public int SubjectId { get; set; }
    [Parameter]
    public int SubmitId { get; set; }
}