@using Iwentys.Sdk
@using Iwentys.Sdk.Extensions

<div class="container-fluid d-flex flex-column">
    @foreach (QuestInfoDto quest in Quests)
    {
        <div class="card-list-element">
            <MatCard Class="dark-elevation-02">
                <MatCardContent>
                    <div class="card-list-element-content">
                        <MatHeadline6>
                            @quest.Title (@quest.Price)
                        </MatHeadline6>
                        <MatBody1>
                            @quest.Description
                        </MatBody1>
                        <MatBody2>
                            Created by <NavLink href=@LinkToAuthorProfilePage(quest.Author)>@quest.Author.GetFullName()</NavLink> (@quest.CreationTime)
                        </MatBody2>
                    </div>
                </MatCardContent>
                <MatCardActions>
                    <MatButton Link=@LinkToQuestProfilePage(quest)>Profile</MatButton>
                    <MatButton Link=@LinkToQuestResponsePage(quest)>Response</MatButton>
                </MatCardActions>
            </MatCard>
        </div>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<QuestInfoDto> Quests { get; set; }
}
