@page "/quest/create"

@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<div class="col-md-6 d-flex input-form-component">
    <h5>Create quest</h5>

    <p>
        <MudTextField @bind-Value="@_title" Label="Title" FullWidth="true"></MudTextField>
    </p>

    <p>
        <MudTextField @bind-Value="@_description" Label="Description" FullWidth="true"></MudTextField>
    </p>

    <p>
        <MudTextField @bind-Value="@_price" Label="Price" FullWidth="true"></MudTextField>
    </p>

    <p>
        <MudDatePicker @bind-Value="@_deadline" FullWidth="true"></MudDatePicker>
        <MudButton OnClick="@(_ => { _deadline = null;})">
            Clean
        </MudButton>
    </p>

    <MudButton OnClick="@SendCreateRequest">Create</MudButton>
</div>

@code {

}
