@page "/tournaments/profile/{TournamentId:int}"

@using Iwentys.Sdk
@using Microsoft.Extensions.Logging

@inherits DependencyInjectionPage
@inject ILogger<TournamentProfilePage> _logger

@if (_tournament is not null)
{
    <h3>@_tournament.Name</h3>

    <div class="container-fluid d-flex flex-row">
        <div class="col-md-4  profile-element dark-elevation-01">
            <div class="d-flex flex-column">
                <MatH6>Teams</MatH6>
                <MatList>
                    @foreach (TournamentTeamInfoDto team in _tournament.Teams)
                    {
                        <MatListItem>
                            @team.TeamName (@team.Points)
                        </MatListItem>
                    }
                </MatList>
                <MatButton OnClick=@(async () => await RegisterToTournament())>Register guild</MatButton>
            </div>
        </div>
        <div class="col-md-8 profile-element dark-elevation-01">
            <div class="d-flex flex-column">
                <MatH6>Info</MatH6>
                <span>
                    <p>@_tournament.Description</p>
                    <p>Start time: @_tournament.StartTime</p>
                    <p>End time: @_tournament.EndTime</p>
                </span>
                <MatButton OnClick=@(async () => await ForceUpdate())>Update results</MatButton>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int TournamentId { get; set; }
}
