@namespace Iwentys.Endpoint.Client.Pages.Students

@using Iwentys.Sdk
@using Iwentys.Sdk.Extensions
@inherits DependencyInjectionPage

@if (StudentProfile is not null)
{
    <div class="container-fluid d-flex flex-row">
        <img class="student-profile-logo" src=@StudentProfile.AvatarUrl />
        <div class="container-fluid d-flex flex-column">
            <MatHeadline4>@StudentProfile.GithubUsername</MatHeadline4>
            <MatBody1>@StudentProfile.GetFullName()</MatBody1>

            @if (_group?.GroupName is not null)
            {
                @if (StudentProfile.Id == _group.Id)
                {
                    <MatBody1>Группа: <NavLink href=@LinkToGroupProfile>@_group.GroupName</NavLink>(Админ)</MatBody1>
                }

                @if (StudentProfile.Id != _group.Id)
                {
                    <MatBody1>Группа: <NavLink href=@LinkToGroupProfile>@_group.GroupName</NavLink></MatBody1>
                    @if (_self?.IsAdmin == true)
                    {
                        <MatButton OnClick=@(async () => await MakeGroupAdmin())>Make admin</MatButton>
                    }
                }
            }

            @if (_guild is not null)
            {
                <MatBody1>Гильдия: <NavLink href=@LinkToGuild>@_guild.Title</NavLink></MatBody1>
            }

            @if (_userKarmaStatistic is not null)
            {
                <div class="d-flex flex-row align-self-center align-baseline">
                    <MatBody1>Карма: @_userKarmaStatistic.Karma</MatBody1>

                    @if (IsCanSendKarma())
                    {
                        <MatButton OnClick=@(async () => await SendKarma())>
                            <span class="oi oi-plus" title="add" aria-hidden="true"></span>
                        </MatButton>
                    }

                    @if (IsCanRemoveKarma())
                    {
                        <MatButton OnClick=@(async () => await RemoveKarma())>
                            <span class="oi oi-minus" title="remove" aria-hidden="true"></span>
                        </MatButton>
                    }

                </div>

            }
        </div>
    </div>
}

@code {
    [Parameter]
    public StudentInfoDto StudentProfile { get; set; }
}