@page "/assignment/create"

@inherits Iwentys.WebClient.Shared.DependencyInjectionPage

<div class="container-fluid d-flex flex-row">
    <div class="col-md-3 d-flex flex-column">
        <MudButton>Все задачи</MudButton>
        <MudButton>Персональные задачи</MudButton>
        <MudButton>Календарь</MudButton>
    </div>

    <div class="col-md-4 d-flex input-form-component dark-elevation-01">
        <h5>Create assignment</h5>

        <p>
            <MudTextField @bind-Value="@_title" Label="Title" Class="input-element" FullWidth="true"></MudTextField>
        </p>

        <p>
            <MudTextField @bind-Value="@_description" Label="Description" Class="input-element" FullWidth="true"></MudTextField>
        </p>

        <p>
            <MudDatePicker @bind-Value="@_deadline" Class="input-element" FullWidth="true"></MudDatePicker>
        </p>

        @if (IsUserAdmin())
        {
            <div>
                <MudCheckBox @bind-Checked="@_forGroup" Label="For group" FullWidth="true"></MudCheckBox>
            </div>
        }

        @if (_subjects is not null)
        {
            <p>
                <MudSelect @bind-Value="@_selectedSubject" Class="input-element" FullWidth="true">
                    @foreach (var item in _subjects.Where(p => p is not null))
                    {
                        <MudSelectItem Value="@item">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </p>
        }

        <MudButton OnClick="@ExecuteAssignmentCreation" class="dark-elevation-04">Create</MudButton>
    </div>
</div>
