@page "/quest/create"

@inherits DependencyInjectionPage

<div class="col-md-6 d-flex input-form-component">
    <h5>Create quest</h5>

    <p>
        <MatTextField @bind-Value="@_title" Label="Title" FullWidth="true"></MatTextField>
    </p>

    <p>
        <MatTextField @bind-Value="@_description" Label="Description" FullWidth="true"></MatTextField>
    </p>

    <p>
        <MatTextField @bind-Value="@_price" Label="Price" FullWidth="true"></MatTextField>
    </p>

    <p>
        <MatDatePicker @bind-Value="@_deadline" FullWidth="true"></MatDatePicker>
        <MatButton OnClick="@(_ => { _deadline = null;})">
            Clean
        </MatButton>
    </p>

    <MatButton OnClick="@SendCreateRequest">Create</MatButton>
</div>

@code {

}
