@page "/quest/profile/{QuestId:int}"

@using Iwentys.Features.Quests.Enums
@using Iwentys.Features.Quests.Models

@inherits DependencyInjectionPage

<div class="d-flex col-6 input-form-component">
    @if (_quest is not null)
    {
        <MatHeadline3>
            @_quest.Title
        </MatHeadline3>
        <MatBody1>
            Price: @_quest.Price
        </MatBody1>
        <MatBody1>
            Description: @_quest.Description
        </MatBody1>

        @switch (_quest.State)
        {
            case QuestState.Active:
                <h5>Responses</h5>
                <div class="justify-content-center">
                    @foreach (QuestResponseInfoDto questResponse in _quest.ResponseInfos)
                    {
                        <div class="card-list-element">
                            <MatCard>
                                <MatCardContent>
                                    <div class="card-list-element-content">
                                        <MatHeadline6>
                                            @questResponse.Student.GetFullName()
                                        </MatHeadline6>
                                        <MatBody2>
                                            @questResponse.Description
                                        </MatBody2>
                                        <MatBody2>
                                            @questResponse.ResponseTime
                                        </MatBody2>
                                    </div>
                                </MatCardContent>
                                <MatCardActions>
                                    <MatButton OnClick=@(async () => await AcceptQuestResponse(questResponse))>Accept</MatButton>
                                </MatCardActions>
                            </MatCard>
                        </div>
                    }
                </div>
                break;

            case QuestState.Completed:
                <div>
                    Completed by @_quest.Executor.GetFullName()
                </div>
                break;

            case QuestState.Revoked:
                <div>
                    Revoked.
                </div>
                break;

            default:
                throw new ArgumentOutOfRangeException(nameof(QuestState), "Unsupported quest state");
        }
    }
</div>

@code {
    [Parameter]
    public int QuestId { get; set; }
}
