@page "/subject/{SubjectId:int}/management/assignments/submits"

@using Iwentys.Sdk.Extensions
@inherits DependencyInjectionPage

<h3>SubjectAssignmentSubmitJounalPage (double click works fine!)</h3>

@if (_subjectAssignmentSubmits is not null)
{
    <div>
    <MatTable
        Items="@_subjectAssignmentSubmits"
        OnRowDbClick=@NavigateToSubmitPage
        class="dark-elevation-01">
            <MatTableHeader>
                <th>Assignment</th>
                <th>Student</th>
                <th>Submit time</th>
                <th>State</th>
                <th>Approve time</th>
                <th>Reject time</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.SubjectAssignmentTitle</td>
                <td>@context.Student.GetFullName()</td>
                <td>@context.SubmitTimeUtc</td>
                <td>@context.State</td>
                <td>@context.ApproveTimeUtc</td>
                <td>@context.RejectTimeUtc</td>
            </MatTableRow>
        </MatTable>
    </div>
}

@code {
    [Parameter]
    public int SubjectId { get; set; }
}