@page "/assignment"

@using Blazored.LocalStorage
@using Iwentys.Features.Assignments.Models

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="container-fluid d-flex flex-row">
    <div class="col-md-3 d-flex flex-column">
        <MatButton>Все задачи</MatButton>
        <MatButton>Персональные задачи</MatButton>
        <MatButton>Календарь</MatButton>
        <MatButton Link="/assignment/create">Добавить задачу</MatButton>
    </div>

    <div class="col-md-6 d-flex flex-column dark-elevation-01">
        <h5>Assignment list</h5>
        @if (_assignment is not null)
        {
            <div>
                @foreach (AssignmentInfoDto assignment in _assignment)
                {
                    <div class="dark-elevation-02">
                        @if (assignment.IsCompeted)
                        {
                            <MatBody2>
                                @("[x] ") @assignment.Title @(assignment.Deadline is not null ? assignment.Deadline : "")
                            </MatBody2>
                        }

                        @if (!assignment.IsCompeted)
                        {
                            <MatBody2>
                                @assignment.Title @(assignment.Deadline is not null ? assignment.Deadline : "")
                            </MatBody2>
                            <MatButton OnClick=@(async() => await MakeCompleted(assignment.Id))>[ ]</MatButton>
                        }
                        <MatButton OnClick=@(async() => await Delete(assignment.Id))>Delete</MatButton>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {

}
