@page "/assignment/create"
@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="container-fluid d-flex flex-row">
    <div class="col-md-3 d-flex flex-column">
        <MatButton>Все задачи</MatButton>
        <MatButton>Персональные задачи</MatButton>
        <MatButton>Календарь</MatButton>
    </div>

    <div class="col-md-6 d-flex flex-column">
        <h5>Create assignment</h5>

        <p>
            <MatTextField @bind-Value="@_title" Label="Title"></MatTextField>
        </p>

        <p>
            <MatTextField @bind-Value="@_description" Label="Description"></MatTextField>
        </p>

        <p>
            <MatDatePicker @bind-Value="@_deadline"></MatDatePicker>
            <MatButton OnClick="@(_ => { _deadline = null;})">
                Clean
            </MatButton>
        </p>

        @if (_subjects is not null)
        {
            <p>
                <MatSelectItem @bind-Value="@_selectedSubject" Items="@_subjects">
                    <ItemTemplate>
                        <span>@context?.Name</span>
                    </ItemTemplate>
                </MatSelectItem>
            </p>
        }

        <MatButton OnClick="@ExecuteAssignmentCreation">Create</MatButton>
    </div>
</div>



@code {
}
