@page "/raids/create"


@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>Create raid</h3>

<div class="container-fluid d-flex flex-row">
    <div class="col-md-6 d-flex input-form-component dark-elevation-01">
        <p>
            <MudTextField @bind-Value="@_name" Label="Title" Class="input-element" FullWidth="true"></MudTextField>
        </p>

        <p>
            <MudTextField @bind-Value="@_description" Label="Description" Class="input-element" FullWidth="true"></MudTextField>
        </p>

        <p>
            <MudDatePicker @bind-Value="@_startTime" Class="input-element" Label="Start time" FullWidth="true"></MudDatePicker>
        </p>

        <p>
            <MudDatePicker @bind-Value="@_endTime" Class="input-element" Label="End time" FullWidth="true"></MudDatePicker>
        </p>

        <MudButton OnClick="@(async () => await Create())" class="dark-elevation-04">Create</MudButton>
    </div>
</div>
