@using Iwentys.Sdk.Extensions
@inherits DependencyInjectionPage

@page "/peer-review/{ReviewRequestId:int}/feedback"

<h3>PeerReviewFeedbackCreatePage</h3>
@if (_request is not null)
{
    <p>
        @_request.Project.GithubLikeTitle()
    </p>
    <p>
        @_request.Project.Description
    </p>
}

<div class="input-form-component">
    <p>
        <MatTextField @bind-Value="@_description" Label="Description" Class="input-element" FullWidth="true"></MatTextField>
    </p>
    <MatSelectItem @bind-Value=@_selectedSummaries Items="@_feedbackSummaries"></MatSelectItem>
    <MatButton OnClick="@(async () => await CreateFeedback())">Create</MatButton>
</div>


@code {
    [Parameter]
    public int ReviewRequestId { get; set; }
}
