@using Iwentys.Sdk
@inject NavigationManager NavigationManagerClient

<div class="card-list-element">
    <MatCard Class="dark-elevation-02">
        <MatCardContent>
            <div class="card-list-element-content">
                @if (Tribute.State == TributeState.Completed)
                {
                    <MatHeadline6>
                        @Tribute.Project.Name (by @Tribute.Project.AuthorUsername)
                    </MatHeadline6>
                }
                @if (Tribute.State != TributeState.Completed)
                {
                    <MatHeadline6>
                        @Tribute.Project.Name
                    </MatHeadline6>
                }

                <MatBody2>
                    Creation time: @Tribute.CreationTimeUtc
                </MatBody2>
                @if (Tribute.Mark is not null)
                {
                    <MatHeadline6>
                        Mark: @Tribute.Mark (review by @Tribute.Mentor.GithubUsername). Last update: @Tribute.LastUpdateTimeUtc
                    </MatHeadline6>
                }
            </div>
        </MatCardContent>
        <MatCardActions>
            <MatButton OnClick=@Complete>Complete</MatButton>
        </MatCardActions>
    </MatCard>
</div>

@code {
    [Parameter]
    public TributeInfoResponse Tribute { get; set; }
}
