@using Iwentys.WebClient.Sdk
@namespace Iwentys.WebClient.Content

<div class="container-fluid d-flex flex-column">
    @foreach (QuestInfoDto quest in Quests)
    {
        <div class="card-list-element">
            <MudCard Class="dark-elevation-02">
                <MudCardContent>
                    <div class="card-list-element-content">
                        <MudText Typo="Typo.h6">
                            @quest.Title (@quest.Price)
                        </MudText>
                        <MudText Typo="Typo.body1">
                            @quest.Description
                        </MudText>
                        <MudText Typo="Typo.body2">
                            Created by <NavLink href=@LinkToAuthorProfilePage(quest.Author)>@quest.Author.GetFullName()</NavLink> (@quest.CreationTime)
                        </MudText>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Link=@LinkToQuestProfilePage(quest)>Profile</MudButton>
                    <MudButton Link=@LinkToQuestResponsePage(quest)>Response</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<QuestInfoDto> Quests { get; set; }
}
