@page "/quest/response/{QuestId:int}"

@namespace Iwentys.WebClient.Content

<div class="d-flex col-6 justify-content-between">
    <div class="d-flex input-form-component">
        <h3>Send quest response</h3>
        @if (_quest is not null)
        {
            <MudText Typo="Typo.h6">
                @_quest.Title
            </MudText>
            <MudText Typo="Typo.body1">
                Price: @_quest.Price
            </MudText>
            <MudText Typo="Typo.body1">
                Description: @_quest.Description
            </MudText>

            <p>
                <MudTextField @bind-Value="@_description" Label="Description" Class="input-element" FullWidth="true"></MudTextField>
            </p>
            <MudButton OnClick="@SendResponse">Send response</MudButton>
        }
    </div>
    
</div>

@code {
    [Parameter]
    public int QuestId { get; set; }
}
