@using Iwentys.Models.Transferable.Guilds

@namespace Iwentys.Endpoint.Client.Pages.Guilds

<div class="container-fluid d-flex flex-column align-items-center">
    <img src=@SelectedGuildProfile.LogoUrl class="guild-preview-logo" />
    <MatHeadline4>@SelectedGuildProfile.Title</MatHeadline4>
    <MatButton Link="@LeaderProfileLink()">Лидер: @SelectedGuildProfile.Leader.GetFullName()</MatButton>
    <MatBody1>@SelectedGuildProfile.Bio</MatBody1>
    <MatButton Link="@EditProfileLink()">Редактировать</MatButton>
    <MatButton>Трибьюты</MatButton>
</div>

@code {
    [Parameter]
    public GuildProfileDto SelectedGuildProfile { get; set; }

    private string EditProfileLink() => $"guild/profile/{SelectedGuildProfile.Id}/edit";
    private string LeaderProfileLink() => $"student/profile/{SelectedGuildProfile.Leader.Id}";
}