@using Iwentys.Features.Guilds.Models.Guilds
@using Blazored.LocalStorage
@using Iwentys.Features.Guilds.Enums

@namespace Iwentys.Endpoint.Client.Pages.Guilds

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="container-fluid d-flex flex-column align-items-center">
    <img src=@SelectedGuildProfile.LogoUrl class="guild-logo" />

    <MatHeadline4>@SelectedGuildProfile.Title</MatHeadline4>
    <MatButton Link="@LeaderProfileLink()">Лидер: @SelectedGuildProfile.Leader.GetFullName()</MatButton>
    <MatBody1>@SelectedGuildProfile.Bio</MatBody1>

    <MatButton Link="@EditProfileLink()">Редактировать</MatButton>
    <MatButton Link=@TributeJournalLink()>Трибьюты</MatButton>
    @if(SelectedGuildProfile?.UserMembershipState == UserMembershipState.Entered)
    {
        <MatButton OnClick=@LeaveGuild>Ливнуть</MatButton>
    }
</div>

@code {
    [Parameter]
    public ExtendedGuildProfileWithMemberDataDto SelectedGuildProfile { get; set; }

    private string EditProfileLink() => $"guild/profile/{SelectedGuildProfile.Id}/edit";
    private string LeaderProfileLink() => $"student/profile/{SelectedGuildProfile.Leader.Id}";
    private string TributeJournalLink() => $"/guild/{SelectedGuildProfile.Id}/tribute";
}